<h1>
	<font face="Century Gothic"> All Posts (<%= @articles.count %>) </font>
</h1>

<% if user_is_admin? %>
	<%= link_to 'New Article', new_article_path %>
<% end %>

<%= will_paginate %>
<ol class="articles">
	<%= render @articles %>
</ol>
<%= will_paginate %>

