<% provide(:title, 'Sign Up') %>

<div>
<div>
<h1> Sign Up </h1>
</div>

<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<%= form_for(@user) do |f| %>

		<div>
			<%= render 'error_messages' %>
		</div>

		<%= f.label :name %>
		<%= f.text_field :name, class: "form-control" %>


		<%= f.label :email %>
		<%= f.email_field :email, class: "form-control" %>

		<%= f.label :password %>
		<%= f.password_field :password, class: "form-control" %>

		<%= f.label :password_confirmation %>
		<%= f.password_field :password_confirmation, class: "form-control" %><br>

		<p>
			<%= f.submit "Create My Account", class: "btn btn-primary"%>
		</p>

		<% end %>
	</div>
</div>
</div>


